@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Arvo);
/* line 17, /Users/anson/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/anson/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/anson/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/anson/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/anson/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/anson/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/anson/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/anson/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/anson/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, _src/styles/global.scss */
body {
  background-color: #ecf0f1;
  color: #666666;
  font-size: 12px;
  font-family: 'Arvo', 'Hiragino Sans GB', 微软雅黑, 黑体, sans-serif;
}

/* line 16, _src/styles/global.scss */
a {
  color: #4bb5c1;
  text-decoration: none;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  -o-transition: color, 0.2s;
  transition: color, 0.2s;
}
/* line 22, _src/styles/global.scss */
a:hover {
  color: #3897a1;
}

/* line 27, _src/styles/global.scss */
pre, code {
  font-family: 'Source Code Pro', monospace, 'Courier New';
}
/* line 3, _src/styles/content.scss */
.content-container {
  width: 1000px;
  margin: 90px auto;
}
/* line 7, _src/styles/content.scss */
.content-container .disqus-wrap {
  margin-top: 80px;
}
/* line 3, _src/styles/footer.scss */
.footer-container {
  width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  border-top: 1px solid #b1c2c6;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
}
/* line 11, _src/styles/footer.scss */
.footer-container .powerd {
  color: #999999;
}
/* line 14, _src/styles/footer.scss */
.footer-container .powerd-list {
  display: inline-block;
}
/* line 17, _src/styles/footer.scss */
.footer-container .powerd-list a {
  color: #666666;
}
/* line 21, _src/styles/footer.scss */
.footer-container .powerd-list > li {
  display: inline-block;
  font-weight: bold;
  padding: 0 5px;
}
/* line 26, _src/styles/footer.scss */
.footer-container .powerd-list > li:not(:nth-last-child(1)) {
  border-right: 1px solid #999999;
}
/* line 5, _src/styles/header.scss */
.header {
  background-color: #444444;
}

/* line 9, _src/styles/header.scss */
.header-container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
/* line 15, _src/styles/header.scss */
.header-container .site-title {
  display: block;
  position: absolute;
  padding: 0 40px;
  font-size: 26px;
  height: 50px;
  line-height: 50px;
  bottom: -25px;
  background-color: #ecf0f1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 29, _src/styles/header.scss */
.header-container .site-menu {
  font-size: 0;
}
/* line 32, _src/styles/header.scss */
.header-container .site-menu > li {
  display: inline-block;
  font-size: 16px;
}
/* line 36, _src/styles/header.scss */
.header-container .site-menu > li > a {
  color: white;
  display: block;
  padding: 0 40px;
  height: 90px;
  line-height: 90px;
  position: relative;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 45, _src/styles/header.scss */
.header-container .site-menu > li > a > b {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ecf0f1;
  -webkit-transition: height 0.2s ease;
  -moz-transition: height 0.2s ease;
  -o-transition: height 0.2s ease;
  transition: height 0.2s ease;
}
/* line 55, _src/styles/header.scss */
.header-container .site-menu > li > a > span {
  position: relative;
}
/* line 59, _src/styles/header.scss */
.header-container .site-menu > li > a:hover {
  color: #444444;
}
/* line 62, _src/styles/header.scss */
.header-container .site-menu > li > a:hover > b {
  height: 100%;
}
/* line 70, _src/styles/header.scss */
.header-container .site-owner {
  display: block;
  position: absolute;
  z-index: 12;
  right: 0;
  bottom: -83px;
  text-align: left;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 83px;
  -moz-border-radius: 83px;
  -ms-border-radius: 83px;
  -o-border-radius: 83px;
  border-radius: 83px;
  background-color: #ecf0f1;
  border: 8px solid #ecf0f1;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
/* line 87, _src/styles/header.scss */
.header-container .site-owner:hover {
  width: 280px;
}
/* line 90, _src/styles/header.scss */
.header-container .site-owner:hover .owner-info {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 95, _src/styles/header.scss */
.header-container .site-owner .owner-avatar {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 104, _src/styles/header.scss */
.header-container .site-owner .owner-avatar + b {
  display: block;
  position: absolute;
  width: 148px;
  height: 148px;
  top: 0;
  right: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
/* line 116, _src/styles/header.scss */
.header-container .site-owner .owner-info {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  line-height: 30px;
  text-align: right;
  width: 120px;
  margin-top: 15px;
}
/* line 124, _src/styles/header.scss */
.header-container .site-owner .owner-info a {
  color: #666666;
}
/* line 127, _src/styles/header.scss */
.header-container .site-owner .owner-info a:hover {
  color: black;
}
/* line 5, _src/styles/markdown.scss */
.md {
  line-height: 2em;
}
/* line 8, _src/styles/markdown.scss */
.md h1, .md h2, .md h3, .md h4, .md h5 {
  margin: 1.5em 0;
}
/* line 12, _src/styles/markdown.scss */
.md h1 {
  font-size: 2.5em;
}
/* line 16, _src/styles/markdown.scss */
.md h2 {
  font-size: 2em;
}
/* line 20, _src/styles/markdown.scss */
.md h3 {
  font-size: 1.5em;
}
/* line 24, _src/styles/markdown.scss */
.md h4 {
  font-size: 1.2em;
}
/* line 28, _src/styles/markdown.scss */
.md h5 {
  font-size: 1em;
  font-weight: bold;
}
/* line 33, _src/styles/markdown.scss */
.md p, .md pre {
  margin: 1em 0;
}
/* line 37, _src/styles/markdown.scss */
.md code, .md pre {
  background-color: white;
  padding: 2px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 43, _src/styles/markdown.scss */
.md pre {
  border: 1px solid #b1c2c6;
  padding: 10px 20px;
  overflow: scroll;
  line-height: 1.5em;
}
/* line 50, _src/styles/markdown.scss */
.md pre code {
  border: none;
  background: none;
  padding: 0;
}
/* line 56, _src/styles/markdown.scss */
.md .highlight {
  background: none;
}
/* line 60, _src/styles/markdown.scss */
.md ul, .md ol {
  margin: 1em 0px;
  padding-left: 2em;
}
/* line 64, _src/styles/markdown.scss */
.md ul ul, .md ol ul {
  list-style: circle;
}
/* line 68, _src/styles/markdown.scss */
.md ul ol, .md ol ol {
  list-style: lower-latin;
}
/* line 73, _src/styles/markdown.scss */
.md ul {
  list-style: disc;
}
/* line 77, _src/styles/markdown.scss */
.md ol {
  list-style: decimal;
}
/* line 81, _src/styles/markdown.scss */
.md hr {
  border-top: 1px dashed #b1c2c6;
  border-left: none;
  border-bottom: none;
}
/* line 87, _src/styles/markdown.scss */
.md blockquote {
  color: #999999;
  padding: 0 0 0 30px;
  position: relative;
}
/* line 92, _src/styles/markdown.scss */
.md blockquote:before {
  font-family: FontAwesome;
  font-size: 1.5em;
  content: "\f10d";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 103, _src/styles/markdown.scss */
.md strong {
  font-weight: bold;
}
/* line 3, _src/styles/pagination.scss */
#pagination {
  font-size: 14px;
  padding-left: 10px;
}
/* line 8, _src/styles/pagination.scss */
#pagination > ol > li {
  display: inline-block;
  padding: 0 5px;
}
/* line 8, _src/styles/post.scss */
.posts > .post {
  margin: 40px 0;
}

/* line 13, _src/styles/post.scss */
.post {
  background-color: white;
  border: 1px solid #b1c2c6;
  border-bottom-width: 2px;
  z-index: 11;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 20px 40px;
}
/* line 22, _src/styles/post.scss */
.post .post-title {
  position: relative;
  width: 100%;
  padding: 30px;
  left: -55px;
  background-color: #9ec653;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b4d279), color-stop(100%, #9ec653));
  background: -webkit-linear-gradient(#b4d279, #9ec653);
  background: -moz-linear-gradient(#b4d279, #9ec653);
  background: -o-linear-gradient(#b4d279, #9ec653);
  background: linear-gradient(#b4d279, #9ec653);
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px rgba(0, 0, 0, 0.3);
}
/* line 35, _src/styles/post.scss */
.post .post-title:before {
  content: "";
  display: block;
  position: absolute;
  border-color: transparent #9ec653 #9ec653 transparent;
  border-style: solid;
  border-width: 4px 7px;
  top: -8px;
  left: 0;
}
/* line 46, _src/styles/post.scss */
.post .post-title > h2 {
  display: inline;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
/* line 53, _src/styles/post.scss */
.post .post-title > h2 > a {
  color: white;
}
/* line 58, _src/styles/post.scss */
.post .post-title > span {
  margin-left: 30px;
  color: white;
  font-size: 16px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
/* line 66, _src/styles/post.scss */
.post .post-content {
  margin-top: 40px;
}

/* line 73, _src/styles/post.scss */
.md.post-content code, .md.post-content pre {
  background-color: #ecf0f1;
}
/* line 77, _src/styles/post.scss */
.md.post-content pre {
  width: 100%;
  margin-left: -41px;
  padding: 20px 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
}
