@import "compass/css3";

$global-width: 1000px;

@mixin white-text-shadow {
  @include text-shadow(0 1px 3px rgba(black, 0.8));
}

// color rule
// $color-rule-1: #424242;
// $color-rule-2: #D3CEAA;
// $color-rule-3: #FBF7E4;
// $color-rule-4: #E7E8D1;
// $color-rule-5: #8E001C;

$color-rule-1: #434A54;
$color-rule-2: #E6E9ED;
$color-rule-3: #AAB2BD;
$color-rule-4: #48CFAD;
$color-rule-5: #48CFAD;
// color rule

$light-font-color: white;
$font-color: #434A54;
$gray-font-color: $color-rule-3;

// fonts
$normal-font: 'Arvo', 'Hiragino Sans GB', '微软雅黑', '黑体', sans-serif;
$code-font: 'Source Code Pro', monospace, 'Courier New';
