@import "common";

.menu-tip.github-user-container {
  $width: 200px;

  padding-left: 20px;
  padding-right: 20px;
  margin-left: -($width / 2 + 20px);

  > .github-user {
    font-size: 12px;
    width: $width;
    text-align: left;

    .user-infos {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid white;
      font-size: 0;

      > li {
        font-size: 12px;
        display: inline-block;
        padding: 0 5px;

        &:not(:nth-last-child(1)) {
          border-right: 1px solid white;
        }

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

.github-commits, .md .github-commits {
  width: 100%;

  > h3 {
    font-size: 1em;
    margin: 0;
    padding: 0 10px;
    @include border-radius(3px 3px 0 0);
    background-color: $color-rule-5;
    color: $light-font-color;
  }

  > ol {
    background-color: white;
    margin: 0;
    padding: 5px 10px;
    list-style: none;
    @include border-radius(0 0 3px 3px);

    > li:not(:last-child) {
      border-bottom: 2px dashed $color-rule-2;
    }

    > li {
      $padding: 5px;

      padding: $padding 0;
      line-height: 35px;
      position: relative;

      .commit-author {
        float: left;
        display: block;
        margin-right: 10px;
        width: 35px;
        height: 35px;
        @include border-radius(3px);
      }

      .commit-log {
        margin: 0;
      }

      .commit-time {
        color: $gray-font-color;
      }

      .commit-sha {
        position: absolute;
        top: $padding;
        right: 0;

        > a {
          font-family: $code-font;
          background-color: $color-rule-2;
          padding: 5px;
          @include border-radius(3px);
        }
      }
    }
  }
}
