@import "compass/reset";
@import "common";

body {
  background-color: $color-rule-2;
  color: #666;
  font-size: 12px;
  font-family: 'Lucida Grande', 'Hiragino Sans GB', 'Hiragino Sans GB', sans-serif, 微软雅黑, 黑体;
}

a {
  color: #666;
  text-decoration: none;
}
