@import "compass/reset";
@import "common";

@import url(http://fonts.googleapis.com/css?family=Metrophobic);

body {
  background-color: $color-rule-2;
  color: $font-color;
  font-size: 12px;
  font-family: $normal-font;
}

a {
  color: $color-rule-4;
  text-decoration: none;

  @include transition(color 0.2s);

  &:hover {
    color: darken($color-rule-4, 10%);
  }
}

pre, code {
  font-family: $code-font;
}
