@import "common";

$header-back-color: $color-rule-1;

.header {
  background-color: $header-back-color;
}

.header-container {
  width: $global-width;
  margin: 0 auto;
  text-align: center;
  position: relative;

  .site-title {
    $title-height: 50px;

    display: block;
    position: absolute;
    padding: 0 40px;
    font-size: 26px;
    height: $title-height;
    line-height: $title-height;
    bottom: -($title-height / 2);
    background-color: $color-rule-2;
    @include border-radius(5px);
  }

  .site-menu {
    font-size: 0;

    > li {
      display: inline-block;
      font-size: 16px;

      > a {
        color: $light-font-color;
        display: block;
        padding: 0 45px;
        height: 90px;
        line-height: 90px;
        position: relative;
        @include transition(color 0.2s ease);

        > b {
          position: absolute;
          display: block;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: $color-rule-2;
          @include transition(height 0.2s ease);
        }

        > span {
          position: relative;
        }

        &:hover {
          color: $header-back-color;

          > b {
            height: 100%;
          }
        }
      }
    }
  }

  .site-owner {
    $owner-size: 150px;
    $owner-border-width: 8px;

    display: block;
    position: absolute;
    z-index: 12;
    right: 0;
    bottom: -($owner-size / 2 + $owner-border-width);
    text-align: left;
    width: $owner-size;
    height: $owner-size;
    @include border-radius($owner-size / 2 + $owner-border-width);
    background-color: $color-rule-2;
    border: $owner-border-width solid $color-rule-2;
    @include transition(width 0.3s ease);

    &:hover {
      width: $owner-size * 2 - 20px;

      .owner-info {
        @include opacity(1);
      }
    }

    .owner-avatar {
      width: $owner-size;
      height: $owner-size;
      position: absolute;
      top: 0;
      right: 0;
      @include box-shadow(0 0 3px rgba(black, 0.6));
      @include border-radius(50%);

      & + b {
        display: block;
        position: absolute;
        width: $owner-size - 2px;
        height: $owner-size - 2px;
        top: 0;
        right: 0;
        @include border-radius(50%);
        border: 1px solid rgba(white, 0.4);
      }
    }

    .owner-info {
      @include opacity(0);
      @include transition(opacity 0.3s ease);
      line-height: 30px;
      text-align: right;
      width: $owner-size - 30px;
      margin-top: 15px;
    }
  }
}
