@import "common";

$header-back-color: $color-rule-1;
$header-height: 120px;

.header {
  background-color: $header-back-color;
  width: 100%;
  position: relative;
  @include transition(opacity 0.3s ease);

  &.hide {
    opacity: 0;
  }

  -webkit-animation: down-fade-in 0.5s ease-out 0.3s backwards;
}

.header-container {
  width: $global-width;
  margin: 0 auto;
  text-align: center;
  position: relative;

  .site-owner {
    $owner-size: 50px;

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    width: $owner-size;
    height: 100%;
    @include border-radius(50%);
    @include transition(width 0.3s ease);

    .owner-avatar {
      width: $owner-size;
      height: $owner-size;
      position: absolute;
      top: ($header-height - $owner-size) / 2;
      right: 0;
      @include box-shadow(0 0 3px rgba(black, 0.6));
      @include border-radius(50%);

      & + b {
        display: block;
        position: absolute;
        width: $owner-size - 2px;
        height: $owner-size - 2px;
        top: ($header-height - $owner-size) / 2;
        right: 0;
        @include border-radius(50%);
        border: 1px solid rgba(white, 0.4);
      }
    }
  }

  .site-title {
    $title-height: $header-height;

    display: block;
    position: absolute;
    font-size: 20px;
    height: $title-height;
    line-height: $title-height;
    left: 60px;
    top: 0;
    color: white;
    @include border-radius(5px);
  }

  .site-menu {
    font-size: 0;

    > li {
      display: inline-block;
      font-size: 16px;

      > a {
        color: $light-font-color;
        display: block;
        overflow: hidden;
        padding: 0 40px;
        height: $header-height;
        line-height: $header-height;
        position: relative;

        > span {
          position: relative;
          color: transparent;
          @include text-shadow(0 0 0 white);
          @include transition(text-shadow 0.3s ease);
        }

        &:before {
          content: attr(data-content);
          font-family: FontAwesome;
          font-size: 2em;
          position: absolute;
          display: block;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          @include transition(opacity 0.3s ease);
        }

        &:hover {
          > span {
            text-shadow: 0 0 20px white;
          }

          &:before {
            opacity: 1;
          }
        }
      }
    }
  }

  .site-control {
    position: absolute;
    z-index: 12;
    top: 0;
    right: 0;
    font-size: 14px;
    line-height: $header-height;

    .control-rss {
      color: white;
    }
  }
}

@-webkit-keyframes down-fade-in {
  0% {
    top: -30px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
