@import "common";

$border-color: darken($color-rule-2, 20%);

.md {
  font-size: 14px;
  line-height: 2em;

  h1, h2, h3, h4, h5 {
    margin: 1.5em 0;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1em;
    font-weight: bold;
  }

  p, pre {
    margin: 1em 0;
  }

  code, pre {
    background-color: white;
    padding: 2px 5px;
    @include border-radius(5px);
  }

  pre {
    padding: 10px 20px;
    margin: 1.5em 1px;
    overflow: scroll;
    line-height: 1.5em;
  }

  pre code {
    border: none;
    background: none;
    padding: 0;
  }

  .highlight {
    background: none;
  }

  ul, ol {
    margin: 1em 0px;
    padding-left: 2em;

    ul {
      list-style: circle;
    }

    ol {
      list-style: lower-latin;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  hr {
    border-top: 1px dashed $border-color;
    border-left: none;
    border-bottom: none;
  }

  blockquote {
    color: $gray-font-color;
    padding: 0 0 0 30px;
    position: relative;

    &:before {
      font-family: FontAwesome;
      font-size: 1.5em;
      content: "\f10d";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  strong {
    font-weight: bold;
  }
}
