@import "common";

$post-padding: 40px;
$post-code-back: $color-rule-2;

.posts {
  > .post {
    margin: 40px 0;
  }
}

.post {
  .post-title {
    display: block;
    background-color: $color-rule-5;
    color: $light-font-color;
    padding: 30px $post-padding;
    @include border-radius(3px 3px 0 0);

    > span {
      display: block;
      font-size: 16px;
    }

    > h2 {
      display: block;
      font-size: 30px;
      font-weight: bold;
      position: relative;
    }
  }

  .post-content {
    background-color: white;
    @include border-radius(0 0 3px 3px);
    padding: 20px $post-padding;
  }

  &.only-title {
    .post-title {
      background: none;
      color: $font-color;
      @include border-radius(3px);

      &:hover {
        background-color: $color-rule-5;
        color: $light-font-color;

        @include transition(all 0.3s ease);
      }
    }
  }
}

// post content style
.md.post-content {
  code, pre {
    background-color: $post-code-back;
  }

  pre {
    width: 100%;
    margin-left: -($post-padding / 2);
    margin-right: -($post-padding / 2);
    padding: 20px ($post-padding / 2);
  }
}
