@import "common";

$post-padding: 40px;
$post-code-back: $color-rule-2;

.posts {
  > .post {
    margin: 40px 0;
  }
}

// maybe will use later
// @mixin title-text-shadow {
//   $shadow-text: "";
//   @for $i from 1 through 5 {
//     @if $i != 1 {
//       $shadow-text: $shadow-text + ","
//     }
//     $shadow-text: $shadow-text + $i + "px " + $i + "px " + (0.5 + $i * 0.5) + "px " + rgba(#666, 1.2 - (0.2 * $i));
//   }
//   @include text-shadow(unquote($shadow-text));
// }

.post {
  .post-title {
    display: block;
    background-color: $color-rule-5;
    @include border-radius(10px 10px 0 0);
    padding: 0 $post-padding;
    overflow: hidden;

    > h2 {
      display: inline;
      color: $light-font-color;
      font-size: 30px;
      line-height: 2.5em;
      font-weight: bold;
    }

    > span {
      margin-left: 30px;
      color: $light-font-color;
      font-size: 16px;
    }

    @include transition(all 0.3s ease);
  }

  .post-content {
    background-color: white;
    @include border-radius(0 0 10px 10px);
    padding: 20px $post-padding;
  }
}

// post content style
.md.post-content {
  code, pre {
    background-color: $post-code-back;
  }

  pre {
    width: 100%;
    margin-left: -($post-padding / 2);
    margin-right: -($post-padding / 2);
    padding: 20px ($post-padding / 2);
  }
}
