@import "common";

$post-padding: 40px;
$post-code-back: $color-rule-2;

.posts {
  > .post {
    margin: 40px 0;
  }
}

.post {
  border-bottom-width: 2px;
  z-index: 11;

  .post-title {
    display: block;
    background-color: $color-rule-5;
    @include border-radius(10px 10px 0 0);
    padding: 0 $post-padding;

    > h2 {
      display: inline;
      color: $light-font-color;
      font-size: 30px;
      line-height: 2.5em;
      font-weight: bold;
    }

    > span {
      margin-left: 30px;
      color: $light-font-color;
      font-size: 16px;
    }
  }

  .post-content {
    background-color: white;
    @include border-radius(0 0 10px 10px);
    padding: 20px $post-padding;
  }
}

// post content style
.md.post-content {
  code, pre {
    background-color: $post-code-back;
  }

  pre {
    width: 100%;
    margin-left: -($post-padding - 10px);
    margin-right: -($post-padding - 10px);
    padding: 20px $post-padding - 10px;
  }
}
